Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@madhavkrishna118 
maha4ntvc
/
myAnsible_M_NT_7_03
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
myAnsible_M_NT_7_03/mytom8onubntu16/tempales/mytomservice.j2
@mahaaltayesh
mahaaltayesh mywebrole
Latest commit e563cdf yesterday
 History
 1 contributor
25 lines (20 sloc)  639 Bytes
   
[Unit]
Description=Apache Tomcat Web Application Container
After=network.target

[Service]
Type=forking

Environment=JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk-amd64/jre
Environment=CATALINA_PID=/opt/tomcat/temp/tomcat.pid
Environment=CATALINA_HOME=/opt/tomcat
Environment=CATALINA_BASE=/opt/tomcat
Environment='CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart=/opt/tomcat/bin/startup.sh
ExecStop=/opt/tomcat/bin/shutdown.sh

User=tomcat
Group=tomcat
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete